:root {
    --primary-color: #00FFFF;
    --secondary-color: #118A8A;
    --accent-color: #F7A278;
    --font-color: #02182B;
    --background-color: #F7F7F7;
    --font-family: jura;
    --border-radius: 25px;
}

/* From Uiverse.io by Galahhad */
/* checkbox settings 👇 */

.ui-checkbox {
    --primary-hover-color: #4096ff;
    /* checkbox */
    --checkbox-diameter: 20px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
}

.ui-checkbox,
.ui-checkbox *,
.ui-checkbox *::before,
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
    border-color: var(--primary-color);
}

.ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
}

.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

/*My code:*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

main {
    width: 90vw;
    margin-top: 12vh;
}

main>section {
    display: none !important;
}

#competitionStartSettings {
    width: 100%;
    height: 88vh;
    display: block !important;
}

#competitionStartSettingsSettings {
    width: 100%;
    height: 80%;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: var(--border-radius);
}

.competitionSettingsItem h2 {
    font-size: 4rem;
    text-align: center;
}

#competitionStartSettingsSettings>div {
    margin: 0% 5%;
}

#competitionStartSettingsSettings>div:nth-child(even) {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

#contestants {
    width: 100%;
    overflow-y: scroll;
}

#contestantsInputs {
    margin: 2% auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.fit-me {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    line-height: 1;
}

#addContestant {
    border-radius: var(--border-radius);
    transition: all 0.3s;
}

.contestantNames {
    background-color: var(--secondary-color);
    padding: 2%;
    color: var(--background-color);
    font-size: 2.5rem;
    margin: 1% auto;
    width: 75%;
    border-radius: var(--border-radius);
    text-align: center;
}

#disciplines {
    overflow-y: scroll;
}

#disciplines::-webkit-scrollbar,
#contestants::-webkit-scrollbar {
    background-color: var(--secondary-color);
}

#disciplines::-webkit-scrollbar-thumb,
#contestants::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
}

#addContestant:hover {
    background-color: var(--accent-color);
}

#contestantInput {
    border-radius: 5px;
    width: 100%;
    margin: 1% auto;
}


#contestantsInputs>input {
    width: 100%;
    padding: 2%;
    margin: 2%;
    font-size: 2.5rem;
    background-color: var(--secondary-color);
    border: none;
    color: var(--background-color);
}

#contestantInput::placeholder {
    color: var(--background-color);
}

#contestantInput:focus {
    border-bottom: var(--accent-color) 5px solid;
    outline: none;
}

#startButton {
    text-transform: uppercase;
    font-size: 3rem;
    width: 70%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    height: 10vh;
    transition: all 0.3s;
    width: 100%;
}

#startButton:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.compStartselections {
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.compStartselections label {
    color: var(--background-color);
    background-color: var(--secondary-color);
    font-size: 2.5rem;
    margin: 1%;
    display: flex;
    align-items: center;
    padding: 1.5%;
    border-radius: var(--border-radius);
    text-transform: capitalize;
}

/*Actual Competition Area*/
#classicCompArea {
    width: 100%;
    display: none;
    flex-direction: column;
    height: 88vh;
}

#classicCompArea>div {
    width: 100%;
}

#playersTurnCon {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playersTurnCon>div {
    background-color: var(--primary-color);
    height: 100%;
    width: 50%;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-size: 3rem;
    font-weight: bold;
}

#timeAndStatsCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

#timeAndStatsCon>div {
    height: 70%;
    background-color: var(--primary-color);
    width: 20%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#timer {
    justify-content: center;
    background-color: transparent !important;
    font-size: 10rem;
    font-family: monospace;
}

#timeAndStatsCon h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

#TimeListMo3 {
    font-size: 2.5rem !important;
    font-weight: bold;
}

#timeAndStatsCon p {
    font-size: 1.5rem;
}

#position p {
    font-size: 3rem !important;
    font-weight: bold;
}

/*results*/
#results {
    width: 100%;
    height: 88vh;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultsHeadline {
    background-color: var(--secondary-color);
    width: 90%;
    text-align: center;
}

#resultsTable {
    width: 90%;
    margin: 0 auto;
}

#resultsTable table {
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

#tableHead {
    background-color: var(--secondary-color);
}

#resultsTable tr {
    height: 10vh;
    background-color: rgba(186, 186, 186, 0.5)
}

#resultsTable tr:nth-child(odd) {
    background-color: rgba(119, 119, 119, 0.5);
}

.compNotificationBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: var(--secondary-color) 10px solid;
    width: 70vw !important;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
    text-align: center;
    display: none;
}

#nextPlayerButton{
    width: 90%;
    height: 10%;
}