:root {
    --primary-color: #00FFFF;
    --secondary-color: #118A8A;
    --accent-color: #F7A278;
    --font-color: #02182B;
    --background-color: #F7F7F7;
    --font-family: jura;
    --border-radius: 25px;
}


body,
html {
    overflow: hidden;   
    background-color: rgba(0, 0, 0, 0);
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background-color: var(--background-color);
}

#time {
    width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 0 50px 35px var(--secondary-color);
    color: var(--font-color);
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: monospace;
}

#timeList {
    width: 20vw;
    height: 50vh;
    background-color: var(--primary-color);
    margin: 10% 2%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: scroll;
    z-index: 2;
}

#timeList h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    border-bottom: black solid 2px;
}

#timeList::-webkit-scrollbar {
    display: none;
}

#singleTimesBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleTime {
    width: 90%;
    height: 3vh;
    font-size: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 2px;
}

.singleTimeNumber {
    width: 20%;
    border-right: black solid 2px;
}

.singleTime>div {
    font-family: monospace;
    font-weight: bold;
    padding-left:3%;
}

#times {
    overflow: scroll;
}

#menu {
    position: absolute;
    bottom: 0;
    width: 98vw;
    height: 25vh;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    margin: 1vw;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#times::-webkit-scrollbar {
    display: none;
}

#times>div {
    padding: 1% 0;
    background-color: rgb(0, 240, 255);
    border-bottom: black solid 3px;
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#statistics{
    width: 25%;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #118a8a40;
    border-radius: var(--border-radius);
}

#scramble{
    width: 25%;
    height: 90%;
    background-color: #118a8a40;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#scramble>div{
    width: 90%;
    height: 90%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    overflow: scroll;
}
#scramble>div::-webkit-scrollbar{
    display: none;
}

#statistics>div {
    width: 95%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    margin: 2% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}
#statistics>div:nth-child(1){
    grid-column: span 2;
}

#statistics h2{
    font-size: 1rem;
}

#timeChart{
    max-width: 25%;
    max-height: 90%;
}

#context-menu {
    position: absolute;
    background: white;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 5;
    padding: 1%;
}

.menu-item {
    padding: 0.35vw 0.525vw;
    cursor: pointer;
}

.menu-item:hover {
    background: #f0f0f0;
}

#cubeSelection{
    width: 10%;
    margin: 2%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#cubeSelection img{
    width: 50%;
}
#cubeSelection i{
    width: 10%;
}
#cubeSelection i:hover{
    color: var(--accent-color);
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes slideLeft {
    from {
        margin-left: 2%;
    }

    to {
        margin-left: -30%;
    }
}

@keyframes slideDown {
    from {
        margin-bottom: 1vw;
    }

    to {
        margin-bottom: -25vw;
    }
}

@keyframes slideUp {
    from {
        top: 0;
    }

    to {
        top: -20vh;
    }
}