:root {
    --primary-color: #00FFFF;
    --secondary-color: #118A8A;
    --accent-color: #F7A278;
    --font-color: #02182B;
    --background-color: #F7F7F7;
    --font-family: jura;
    --border-radius: 25px;
}


body,
html {
    overflow: hidden;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#time {
    width: 20vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 0 50px 35px var(--secondary-color);
    color: var(--font-color);
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-family: monospace;
}

#scramble {
    font-size: 3rem;
    margin: 0% auto;
    padding: 0.5%;
    width: 90vw;
    height: 10vh;
    background-color: rgb(0, 240, 255);
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#scrambleCon {
    background-color: rgb(0, 143, 153);
    width: 100vw;
    margin: 0 auto;
    height: 15vh;
    outline: black solid 3px;
    padding: 0.5%;
}

#timeList{
    width: 20vw;
    height: 50vh;
    background-color: var(--primary-color);
    margin: 10% 2%;
    border-radius: var(--border-radius);
}

#times {
    overflow: scroll;
}

#menu{
    position: absolute;
    bottom: 0;
    width: 98vw;
    height: 25vh;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    margin: 1vw;
}

#sidebarLeft h2 {
    font-size: 2rem;
    text-align: center;
}

#times::-webkit-scrollbar {
    display: none;
}

#times>div {
    padding: 1% 0;
    background-color: rgb(0, 240, 255);
    border-bottom: black solid 3px;
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#context-menu {
    position: absolute;
    background: white;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 5;
    padding: 1%;
}

.menu-item {
    padding: 0.35vw 0.525vw;
    cursor: pointer;
}

.menu-item:hover {
    background: #f0f0f0;
}

@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

@keyframes slideLeft {
    from{
        margin-left: 2%;
    }
    to{
        margin-left: -30%;
    }
}
@keyframes slideDown {
    from{
        margin-bottom: 1vw;
    }
    to{
        margin-bottom: -25vw;
    }
}
@keyframes slideUp {
    from{
        top: 0;
    }
    to{
        top: -20vh;
    }
}